  <style>
            body {
                background: rgb(125, 198, 205);
                color: rgb(45, 45, 45);
                padding: 10px;
                font-family: arial;
            }
            header {
                font-size: 1.5em;
                font-weight: bold;
            }
            [id=all-contents] {
                max-width: 800px;
                margin: auto;
            }
.content{

}
            /* navigation menu */
            nav {
                background: #000000;
                margin: 0 auto;
                margin-bottom: 20px;
                display: flex;
                padding: 5px;
                -webkit-border-top-left-radius: 12px;
				-webkit-border-top-right-radius: 12px;
				-moz-border-radius-topleft: 12px;
				-moz-border-radius-topright: 12px;
				border-top-left-radius: 12px;
				border-top-right-radius: 12px;
				color: fff;
                
            }
            nav header {
                display: flex;
                align-items: center;
                color: rgb(255, 255, 255);
                flex: 1;
            }
            nav ul {
                list-style-image: none;
            }
            nav li {
                display: inline-block;
                padding: 0 10px;
            }
            nav a {
                text-decoration: none;
                color: #fff;
            }

            /* main container area beneath menu */
            main {
            	border-bottom:2px dashed #888;
            	border-right:2px dashed #888;
            	border-left:2px dashed #888;
            	border-top:2px dashed #000000;
                background: #ff0000;
                display: flex;
	        	-webkit-border-bottom-right-radius: 6px;
				-webkit-border-bottom-left-radius: 6px;
				-moz-border-radius-bottomright: 6px;
				-moz-border-radius-bottomleft: 6px;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
            }
            [class=sidebar] {
                margin-right: 25px;
                padding: 10px;
            }
            [class=sidebar] img {
                width: 200px;
            }
            [class=content] {
                flex: 1;
                padding: 15px;
            }
            [class=interests] header {
                font-size: 1.25em;
            }
        </style>